.whole {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

.whole::before {
    content: ' ';
    width: 100%;
    height: 100%;
    background: url(/image/common/bg-.jpg) repeat-y top center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -6;
}

.whole:after {
    content: ' ';
    background-color: #21468e;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -5;
}

header {
    width: 100%;
}

li {
    list-style: none;
}

.info {
    width: 100%;
    height: 128px;
}

.nav {
    width: 100%;
    height: 100%;
    background: url(/image/common/header-bg.png) repeat-x top center;
    background-size: contain;
    z-index: 5;
    opacity: 1;
}

.hed-info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-info {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-btn {
    width: 35%;
}
.nav-btn:hover{
    width: 35%;
    opacity: 0.8;
}
.nav-btn img {
    width: 100%;
}

.nav-btn p {
    color: #fff;
    text-align: center;

    font-family: "Kiwi Maru", sans-serif;
}

.title {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tl-img {
    width: 15%;
    padding: 0 1rem;
}

.tl-img img {
    width: 100%;
}

.tl-text {
    width: 40%;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-family: "Yusei Magic", sans-serif;
}


.tl-right {
    transform: scaleX(-1);
}

.bg {
    height: 100%;
    width: calc(100% + 15px);
    min-height: calc(100vh - 8rem);
    /*background: url(/image/common/coment-bg-min.png) no-repeat bottom right;
    background-size: 60%;*/
    position: relative;
}
.bg::before{
    content: "";
    width: calc(100% + 15px);
    height:500px;
    background: url(/image/common/coment-bg-min.png) no-repeat bottom right;
    background-size: 45%;
    padding-right: 15px;  
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}
.bg::after{
    content: "";
    width: 100%;
    height: 20rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(255, 255, 255, 0),#21458e);
    z-index: 0;
}
.subtitle{
    width: 20%;
    margin: 0 auto;
    height: 96px;
    padding-top: 1em;
}
.subtitle img{
    width: 100%;
}

/*
.grid {
    width: 100%;
    height: calc(100vh - 224px);
    padding-top: 2%;
    padding-bottom: 35rem;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-auto-rows: 360px;
    justify-content: center;
    overflow-y: scroll;
}
*/


@media screen and (max-width: 450px) {
    .info {
        width: 100%;
        height: 98px;
    }

    .nav-info {
        width: 25%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tl-text {
        width: 60%;
        text-align: center;
        color: #fff;
        font-size: 1.2rem;
        font-family: "Kiwi Maru", sans-serif;
    }

    .tl-img {
        width: 10%;
        padding: 0 0;
    }
    .title {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-btn {
        width: 38%;
    }
    .nav-btn p{
        color: #fff;
        text-align: center;
        font-size: .7rem;
        font-family: "Kiwi Maru", sans-serif;
    }
    .bg {
        width: calc(100% + 15px);
        min-height: calc(100lvh - 178px);
        position: relative;
    }
    .bg::before{
        content: "";
        width: calc(100% + 15px);
        height: 192px;
        background: url(/image/common/coment-bg-min.png) no-repeat bottom right;
        background-size: 80%;
        padding-right: 15px;  
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
    }
    .bg::after{
        content: "";
        width: 100%;
        height: 128px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(rgba(255, 255, 255, 0),rgb(33, 69, 142));
        z-index: 0;
    }
    .subtitle{
        width: 50%;
        margin: 0 auto;
        height: 80px;
        padding-top: 1em;
    }
    .subtitle img{
        width: 100%;
    }
    /*
    .grid {
        width: 100%;
        height: calc(100lvh - 98px);
        padding-top: 2%;
        display: grid;
        padding-bottom: 10rem;
        grid-template-columns: repeat(2, 12rem);
        grid-auto-rows: 12rem;
        justify-content: center;
        overflow-y: scroll;
    }
*/
}