@media screen and (min-width:450px) {
    .sp{
        display: none;
    }
}
.back-btn{
    opacity: 0;
}

.grid {
    width: 100%;
    height: calc(100vh - 224px);
    padding-top: 2%;
    padding-bottom: 35rem;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-auto-rows: 360px;
    justify-content: center;
    overflow-y: scroll;
}

.task {
    padding: 10%;
}
.task-plus {
    width: 100%;
    height: 100%;
    background: #e5ebf1;
    opacity: .8;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}
.task-plus:hover{
    width: 100%;
    height: 100%;
    background: #e5ebf1;
    opacity: .6;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}
.plus-btn {
    width: 20%;
}
.plus-btn:hover{
    width: 20%;
}
.plus-btn img {
    width: 100%;
}

.plus-btn p {
    text-align: center;
    font-size: 0.8rem;
    font-family: 'Kiwi Maru', sans-serif;
    color: #1b3871;
}

.task-blank {
    width: 100%;
    height: 100%;
    border: dashed 2px #fff;
    border-radius: 10%;
    opacity: 0.6;
}

.task-info {
    width: 100%;
    height: 100%;
    background: #e5ebf1;
    opacity: 0.8;
    border-radius: 10%;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

.task-check{
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(14%, 0fr));
    grid-auto-rows: 50px;
    place-content: center;
    padding: 0 1em;
}

.task-clear-check{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*0 =< x < 7*/
.task-check-min{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1em;
}
.clear-start{
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1 1 14%;
}

/* _check : true */
.check-true{
    display: none;
}
.check-true img{
    display: none;
}

.task-clear {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.task-clear img:hover{
    width: 70%;
    filter:  invert(0%) sepia(100%) saturate(0%) hue-rotate(21deg) brightness(97%) contrast(103%);
}
.task-clear img {
    filter: invert(20%) sepia(16%) saturate(13%) hue-rotate(27deg) brightness(90%) contrast(83%);
    width: 70%;
}
.task-clear-img{ 
    width: 70%;
}

.clear {
    width: 70%;
}

.task-name {
    width: 100%;
    height: 20%;
}

.task-name-info {
    width: 80%;
    height: 60%;
    margin: auto;
    letter-spacing: 1.5px;
    text-align: center;
    font-family: "Kiwi Maru", sans-serif;
    color: #1b3871;
}
@media screen and (max-width: 450px) {
    .pc{
        display: none;
    }
    .grid {
        width: 100%;
        height: calc(100lvh - 178px);
        margin-top: 2%;
        display: grid;
        padding-bottom: 10rem;
        grid-template-columns: repeat(2, 12rem);
        grid-auto-rows: 12rem;
        justify-content: center;
        overflow-y: scroll;
    }
    .task-check{
        width: 100%;
        height: 80%;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(14%, 0fr));
        grid-auto-rows: 28px;
        place-content: center;
        padding: 0 0;
    }
    .task-check-min{
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 0;
    }
}
