.main {
    width: 100%;
    height: 100vh;
}

.whole-bg {
    width: 100%;
    height: 100%;
    background: url(/image/top/top-bg.jpg) no-repeat center bottom;
    background-size: cover;
}

.bottom-bg {
    width: 100%;
    height: 100%;
    background: url(/image/top/ajisai-min.png) no-repeat center bottom;
    background-size: contain;
}

.whole-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.title {
    height: 5rem;
    font-family: "Fredericka the Great", system-ui;
    font-style: normal;
    font-weight: lighter;
    color: #fff;
    font-size: 2rem;
}

.login-bg {
    width: 100%;
    height: 35%;
    position: relative;
}

.bg-on {
    width: 100%;
    height: 26rem;
}

.login-bg-img {
    width: 100%;
    height: 100%;
    text-align: center;
}

.login-bg-img img {
    height: 100%;
}

.log-info {
    height: 24.5rem;
    width: 24.5rem;
    margin: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.user {
    width: 100%;
    height: 30%;
    padding-top: 15%;
}

.user-info {
    width: 45%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: dashed 1px #21468e;
}

.user-take {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    padding-bottom: 0.2rem;

}

.user-icon {
    width: 1.6rem;
    height: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #21468e;
    border-radius: 50%;
    z-index: 5;
}

.user-icon img {
    width: 50%;
    filter: invert(23%) sepia(66%) saturate(1485%) hue-rotate(199deg) brightness(88%) contrast(93%);
}

.user-in {
    width: 70%;
}

.user-in input {
    width: 100%;
}

.passward {
    width: 100%;
    height: 15%;
}

.pass-info {
    width: 45%;
    height: 100%;
    padding-top: 5%;
    margin: auto;
    border-bottom: dashed 1px #21468e;
}

.pass-take {
    width: 100%;
    height: 100%;
    padding: 0.2rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

}

.pass-icon {
    width: 1.6rem;
    height: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #21468e;
    border-radius: 50%;
}

.pass-icon img {
    width: 80%;
    transform: rotate(90deg);
    filter: invert(0) sepia(48%) saturate(2242%) hue-rotate(201deg) brightness(50%) contrast(89%);
}

.pass-in {
    width: 70%;
}

.pass-in input {
    width: 100%;
}

.click-btn {
    width: 100%;
    height: 20%;
}

.c-info {
    width: 45%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.c-img {
    width: 100%;
    height: 100%;
    padding-top: .5rem;
}
.c-img img{
    width: 100%;
}

.click-on{
    width: 100%;
    height: 100%;
    padding-top: .5rem;
    background: url(/image/top/login-btn-o.png) no-repeat left center;
    background-size: contain;
}

@media screen and (max-width: 450px) {
    .title{
        width: 80%;
        height: 7rem;
        font-family: "Fredericka the Great", system-ui;
        font-style: normal;
        font-weight: lighter;
        color: #fff;
        font-size: 1.5rem; 
    }
     .login-bg {
        width: 100%;
        height: 40%;
        position: relative;
    }
    .log-info{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
   
    .user {
        width: 100%;
        height: 20%;
        padding-top: 10%;
    }
    .user-info {
        width: 30%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-bottom: dashed 1px #21468e;
    }
    .user-icon {
        width: 1.3rem;
        height: 1.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 2px #21468e;
        border-radius: 50%;
        z-index: 5;
    }
    .user-in {
        width: 76%;
    }
    .passward {
        width: 100%;
        height: 10%;
    }
    .pass-info {
        width: 30%;
        height: 100%;
        padding-top: 3%;
        margin: auto;
        border-bottom: dashed 1px #21468e;
    }
    .pass-icon{
        width: 1.3rem;
        height: 1.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 2px #21468e;
        border-radius: 50%;
    }
    .pass-in {
        width: 85%;
    }
    .click-btn {
        width: 100%;
        height: 15%;
    }
    .c-info {
        width: 28%;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
    }
}